<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - FGApp</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/vendors/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.css" type="text/css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="shortcut icon" href="~/images/favicon.png" />

    <script type="text/javascript" src="~/vendors/js/vendor.bundle.base.js"></script>
    <script type="text/javascript" src="~/vendors/chart.js/Chart.min.js"></script>
    <script type="text/javascript" src="~/js/fgapp.js?v=201911131606"></script>
</head>
<body id="page-top" class="sidebar-icon-only">
    <style>
        .padding-minimo {
            padding: 10pt !important;
        }
    </style>

    <div class="container-scroller">
        <!-- nav -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" href="/Home"><img src="~/images/logo.svg" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" href="/Home"><img src="~/images/logo-mini.svg" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"><span id="nome-redundante"> FG App</span></span>
                </button>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item d-none d-lg-block">
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSddV5o8SgDn8I_0Mzytmz5qCjPhIe9raf9skRxsDxksXDpk5Q/viewform">Deixe sua Opinião</a>
                    </li>
                    <li class="nav-item d-none d-lg-block full-screen-link">
                        <a class="nav-link">
                            <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                        </a>
                    </li>
                    <li class="nav-item nav-settings d-none d-lg-block">
                        <a class="nav-link" href="#">
                            <i class="mdi mdi-format-line-spacing"></i>
                        </a>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </nav>
        <!-- nav -->
        <div class="container-fluid page-body-wrapper">
            <!-- sidebar -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Home">
                            <span class="menu-title">Dashboard</span>
                            <i class="mdi mdi-home menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Graficos/FuncoesOcupantes">
                            <span class="menu-title">Funções x Ocupantes</span>
                            <i class="mdi mdi-chart-gantt menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Graficos/DistribuicaoFuncoes">
                            <span class="menu-title">Distribuição Cargos</span>
                            <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Graficos/EvolucaoCargos">
                            <span class="menu-title">Evolução Cargos</span>
                            <i class="fas fa-chart-area menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Graficos/PartidosServidores">
                            <span class="menu-title">Partido e Servidores</span>
                            <i class="mdi mdi-chart-pie menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Graficos/ServidoresFiliados">
                            <span class="menu-title">Servidores x Filiados</span>
                            <i class="mdi mdi-chart-areaspline menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Graficos/GastosTotais">
                            <span class="menu-title">Gasto com Servidores</span>
                            <i class="mdi mdi-chart-areaspline menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Dados/TabelaServidores">
                            <span class="menu-title">Tabela Servidores</span>
                            <i class="mdi mdi-table-large menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Dados/TabelaResultados">
                            <span class="menu-title">Tabela Nº Resultados</span>
                            <i class="mdi mdi-table-large menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Dados/TabelaGastos">
                            <span class="menu-title">Tabela Gastos</span>
                            <i class="mdi mdi-table-large menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/swagger">
                            <span class="menu-title">Descrição API</span>
                            <i class="fa fa-cogs menu-icon"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- sidebar -->
            <div class="main-panel">
                <div class="content-wrapper" style="padding-top: 5px;">
                    @RenderBody()
                    <!-- footer -->
                    <footer class="footer">
                        <div class="d-sm-flex justify-content-center justify-content-sm-between">
                            <span>© FG App @DateTime.Now.Year</span>
                        </div>
                    </footer>
                    <!-- footer -->
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/js/off-canvas.js"></script>
    <script type="text/javascript" src="~/js/hoverable-collapse.js"></script>
    <script type="text/javascript" src="~/js/misc.js"></script>

    <script>
        $(".navbar-toggler").click(function () {
            if ($(".sidebar-icon-only").length > 0)
                $("#nome-redundante").hide();
            else
                $("#nome-redundante").show();
        })

        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            $(".content-wrapper").addClass("padding-minimo");
            $(".card-grafico").addClass("padding-minimo");
        } else {
            $(".content-wrapper").removeClass("padding-minimo");
            $(".card-grafico").removeClass("padding-minimo");
        }
    </script>

</body>
</html>

