@model FGApp.Models.GastosTotaisVM

@{
    ViewData["Title"] = "Gastos Totais";
}

<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-chart-bar"></i>
        </span> Gastos Totais
    </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Gastos Totais</li>
        </ol>
    </nav>
</div>

<form method="post" role="form">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Ano: </label>
                <select asp-for="anoSelecionado" asp-items="Model.selecaoAno" class="form-control">
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group" style="text-align: right;">
                <input type="submit" value="Buscar" class="btn btn-gradient-primary btn-fw" />
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body card-grafico">
                <canvas id="myBarChart" style="width: 100%; min-height: 370px; max-height: 580px;"></canvas>
            </div>
        </div>
    </div>
</div>

<script>
    var ctx = document.getElementById("myBarChart");
    var myBarChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
            datasets: [
                {
                    label: 'Relações',
                    data: @Html.Raw(Model.arrayTotalGastos),
                    backgroundColor: 'rgba(255, 213, 0, 0.5)',
                    borderColor: 'rgba(255, 213, 0, 1)',
                    borderWidth: 1,
                },
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        userCallback: function (value, index, values) {
                            return 'R$ ' + NumeroFormatado(value);
                        }
                    }
                }]
            },
            tooltips: {
                callbacks: {
                    label: function (tooltipItem, chart) {
                        var label = tooltipItem.yLabel;
                        return 'R$ ' + NumeroFormatado(label);
                    }
                }
            },
            legend: {
                display: false
            },
            elements: {
                point: {
                    radius: 0
                }
            },
            maintainAspectRatio: false
            }
    });

</script>