@model FGApp.Models.PartidosServidoresVM

@{
    ViewData["Title"] = "Partidos Servidores";
}

<div class="page-header">
    <h3 class="page-title"> Partidos Servidores </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Partidos Servidores</li>
        </ol>
    </nav>
</div>

<form method="post" role="form">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Ano: </label>
                <select asp-for="anoSelecionado" asp-items="Model.selecaoAno" class="form-control">
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" value="Buscar" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <canvas id="grafico" width="900"></canvas>
            </div>
        </div>
    </div>
</div>


<!-- Chart plugin JavaScript-->
<script src="~/lib/chart.js/Chart.min.js"></script>

<script type="text/javascript">
    var ctx = $("#grafico");
    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: @Html.Raw(Model.arrayPartidos),
            datasets: [{
                data: @Html.Raw(Model.arrayTotalServidores),
                backgroundColor: @Html.Raw(Model.arrayCores),
            }],
        },
    });


</script>
