@model FGApp.Models.ServidoresFiliadosVM

@{
    ViewData["Title"] = "Servidores Filiados";
}

@* Criar outra pagina sobrepondo todos os anos em um unico grafico *@

<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-chart-areaspline"></i>
        </span> Servidores Filiados
    </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Servidores Filiados</li>
        </ol>
    </nav>
</div>

<form method="post" role="form">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Ano: </label>
                <select asp-for="anoSelecionado" asp-items="Model.selecaoAno" class="form-control">
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group" style="text-align: right;">
                <input type="submit" value="Buscar" class="btn btn-gradient-primary btn-fw" />
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <canvas id="myAreaChart" style="width: 100%; min-height: 370px; max-height: 580px;"></canvas>
            </div>
        </div>
    </div>
</div>

<script>
    var ctx = document.getElementById("myAreaChart");
    var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dez"],
            datasets: [
                {
                    label: 'Relações',
                    data: @Html.Raw(Model.arrayTotalResultados),
                    backgroundColor: '#fe709677',
                    borderColor: '#fe7096',
                    borderWidth: 1,
                    fill: true,
                    pointRadius: 5,
                    pointHoverRadius: 7,
                    pointHitRadius: 25,
                    pointBackgroundColor: '#fe7096CC',
                },
                {
                    label: 'Servidores',
                    data: @Html.Raw(Model.arrayTotalServidores),
                    backgroundColor: '#90caf977',
                    borderColor: '#90caf9',
                    borderWidth: 1,
                    fill: true,
                    pointRadius: 5,
                    pointHoverRadius: 7,
                    pointHitRadius: 25,
                    pointBackgroundColor: '#90caf9CC',
                }
            ]
        },
        options: {
            plugins: {
                filler: {
                    propagate: true
                }
            },

            maintainAspectRatio: false
        }
    });

</script>
