@{
    ViewData["Title"] = "Graph";
}

<script type="text/javascript">
    google.charts.load('current', { packages: ['corechart', 'bar'] });
    google.charts.setOnLoadCallback(drawChart);
    google.charts.setOnLoadCallback(drawMultSeries);

    function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Element');
        data.addColumn('number', 'Percentage');
        data.addRows([
            ['PSDB', 0.56],
            ['PT', 0.24],
            ['MDB', 0.15],
            ['PV', 0.05]
        ]);

        var chart = new google.visualization.PieChart(document.getElementById('partidosPizza'));
        chart.draw(data, null);
    }

    function drawMultSeries() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Ano');
        data.addColumn('number', 'PSDB');
        data.addColumn('number', 'PT');

        data.addRows([
            [new Date(2009, 0), 12, 15.5],
            [new Date(2010, 0), 15.3, 12.9],
            [new Date(2011, 0), 12.6, 16.3],
            [new Date(2012, 0), 10.9, 19],
            [new Date(2013, 0), 9.8, 15.6],
            [new Date(2014, 0), 13.6, 14.3],
            [new Date(2015, 0), 14.3, 8.4],
            [new Date(2016, 0), 17.9, 4.4],
            [new Date(2017, 0), 19.6, 7.1],
            [new Date(2018, 0), 18.5, 10.2]
        ]);

        var options = {
            title: 'PT x PSDB',
            hAxis: {
                title: 'Ano',
                format: 'yyyy'
            },
            vAxis: {
                title: '%'
            }
        };

        var chart = new google.visualization.ColumnChart(
            document.getElementById('comparaPartido'));

        chart.draw(data, options);
    }

</script>



<div class="row">
    <div class="col-lg-8">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-chart-bar"></i>
                Mulheres em Cargos Públicos
            </div>
            <div class="card-body">
                <div id="comparaPartido"style="height:230px; width:100%;"></div>
            </div>
            <div class="card-footer small text-muted">Atualizado 07/09/2018 às 10:20 AM</div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-chart-pie"></i>
                Partidos
            </div>
            <div class="card-body">
                <div id="partidosPizza" style="height:230px; width:100%;"></div>
            </div>
            <div class="card-footer small text-muted">Atualizado 07/09/2018 às 10:20 AM</div>
        </div>
    </div>
</div>