@{
    ViewData["Title"] = "Home Page";
}

<style>
    .card-img-holder {
        cursor: pointer;
    }
</style>

<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-home"></i>
        </span> Dashboard
    </h3>
</div>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body" style="max-height:380px;">
                <a href="/Graficos/ServidoresFiliados">
                    <h4 class="card-title">Relação Servidores x Filiados</h4>
                </a>
                <canvas id="areaChart"></canvas>
            </div>
        </div>
    </div>
</div>

@* TODO: Média da relação de servidores e relação com todos nossos registros *@

<div class="row">

    <div class="col-xl-3 col-md-6 stretch-card grid-margin">
        <div class="card bg-gradient-danger card-img-holder text-white" onclick="window.location.href = '/Graficos/DistribuicaoFuncoes';">
            <div class="card-body">
                <img src="~/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">
                    Estado Com mais Filiados
                </h4>
                <h2 class="mb-5">São Paulo</h2>
                <h6 class="card-text">3.314 Filiados</h6>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 stretch-card grid-margin">
        <div class="card bg-gradient-info card-img-holder text-white" onclick="window.location.href = '/Graficos/PartidosServidores';">
            <div class="card-body">
                <img src="~/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">
                    Partido Com mais Filiados
                </h4>
                <h2 class="mb-5">PT</h2>
                <h6 class="card-text">3.224 Filiados</h6>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 stretch-card grid-margin">
        <div class="card bg-gradient-success card-img-holder text-white" onclick="window.location.href = '/Dados/TabelaResultados';">
            <div class="card-body">
                <img src="~/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">
                    Total Servidores (12/2018)
                </h4>
                <h2 class="mb-5">99.488</h2>
                <h6 class="card-text">+489 (11/2018)</h6>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 stretch-card grid-margin">
        <div class="card bg-gradient-primary card-img-holder text-white" onclick="window.location.href = '/Dados/TabelaResultados';">
            <div class="card-body">
                <img src="~/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">
                    Total Relações (12/2018)
                </h4>
                <h2 class="mb-5">22.272</h2>
                <h6 class="card-text">+95 (11/2018)</h6>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body" style="max-height:350px;">
                <a href="/Graficos/PartidosServidores">
                    <h4 class="card-title">Partidos Servidores (Top 5)</h4>
                </a>
                <canvas id="pieChart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body" style="max-height:350px;">
                <a href="/Graficos/FuncoesOcupantes">
                    <h4 class="card-title">Funções x Ocupantes (Top 5)</h4>
                </a>
                <canvas id="barChart"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body" style="max-height:350px;">
                <h4 class="card-title">Top Funções</h4>
                <canvas id="lineChart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body" style="max-height:350px;">
                <h4 class="card-title">Top Partidos</h4>
                <canvas id="doughnutChart"></canvas>
            </div>
        </div>
    </div>
</div>
<!-- content-wrapper ends -->